<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160317003-Modal-NavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D503480A1C9AA31900461D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50348231C9AA31900461D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D503482E1C9AA31900461D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
